$dimension_10 : 0.655vw;
$dimension_13 : 0.85vw; //1px = 0.065; 2px = 0.13
$dimension_15 : 0.98vw;
$dimension_16 : 1.045vw;
$dimension_18 : 1.175vw;
$dimension_20 : 1.305vw;
$dimension_22 : 1.435vw;
$dimension_24 : 1.565vw;
$dimension_30 : 1.955vw;
$dimension_32 : 2.085vw;

.main-home {
   display: flex;
   width: 80%;
   margin: auto;
   height: 19.5vw;
   gap: 3px;
   padding-top: $dimension_10*0.8;

   .left-slider {
      width: 65%;

      img {
         width: 100%;
         max-height: 19.2vw;
         object-fit: cover;
      }

      ul {
         position: absolute;
         bottom: $dimension_10*0.5;

         li {
            border: 1px solid #b8b7b7;
            border-radius: 50%;
            padding: 1px;
            width: $dimension_13;
            height: $dimension_13;

            button {
               // button dots click slider
               background: transparent !important;
               color: transparent !important;

               &::before {
                  font-size: $dimension_10 !important;
                  color: whitesmoke;
                  position: absolute;
                  top: -4px;
                  left: -5.5px;
                  margin: auto;
               }
            }
         }
      }

   }

   .right-slider {
      width: 35%;
      height: 19vw;
      display: flex;
      flex-direction: column;
      gap: 3px;

      .right-top {
         height: 45%;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      .right-bottom {
         height: 55%;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
}

.services {
   width: 80%;
   margin: auto;
   display: flex;
   gap: $dimension_10*0.5;
   margin-top: $dimension_22;

   .service {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;


      img {
         width: $dimension_22*2;
         height: $dimension_22*2;
         object-fit: cover;
      }

      span {
         font-size: $dimension_13;
         color: rgba(0, 0, 0, 0.923);
         padding: $dimension_10*0.8;
         text-align: center;
      }

   }
}


.background {
   width: 100%;
   margin: 0;
   background-color: white;
   box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.05);
}