//------------- head ----------
$dimension_10 : 0.655vw;
$dimension_13 : 0.85vw; //1px = 0.065; 2px = 0.13
$dimension_15 : 0.98vw;
$dimension_16 : 1.045vw;
$dimension_18 : 1.175vw;
$dimension_20 : 1.305vw;
$dimension_22 : 1.435vw;
$dimension_24 : 1.565vw;
$dimension_30 : 1.955vw;
$dimension_32 : 2.085vw;

.head {
   background-color: #F6412D;
   padding: $dimension_13*0.5 0;
   color: #fff;

   i {
      margin-right: 6px;
      font-size: $dimension_10;
      border: 1px solid white;
      padding: $dimension_10*0.3 $dimension_10*0.5;
      border-radius: 50%;
   }



   .head-item {
      display: flex;
      align-items: center;
      gap: $dimension_10*0.7;
   }

   label {
      font-size: $dimension_13;
   }
}

// ----------------- search ---------------------
.search {
   padding: $dimension_10*0.5 0 $dimension_10*0.3 0;
   background-image: linear-gradient(#F6412D, #FE6232);

   .logo {
      width: 15%;
      display: flex;
      gap: $dimension_10;
      align-items: center;

      i {
         font-size: $dimension_30;
         color: white;
      }

      span {
         color: white;
         font-size: $dimension_24;
         font-weight: 500;
      }
   }

   .search-box {
      width: 70%;
      border: 1px solid white;
      border-radius: 3px;

      i {
         width: 5%;
         text-align: center;
         height: $dimension_20*2;
         padding: $dimension_10;
         font-size: $dimension_20;
         margin-right: $dimension_10;
         color: white;
      }

      input {
         width: 100%;
         height: $dimension_20*2;
      }

      ::placeholder {
         font-size: $dimension_15;
         padding-left: $dimension_10;
      }
   }

   .items {
      width: 15%;

      .item {
         position: relative;
         margin-right: $dimension_30;

         i {
            color: white;
            font-size: $dimension_20;

         }

         span {
            position: absolute;
            top: -9px;
            right: -12px;
            height: $dimension_18;
            width: $dimension_20;
            border-radius: 50%;
            text-align: center;
            background-color: white;
            font-size: $dimension_13;
            color: #F6412D;
            font-weight: 500
         }
      }
   }


}


// ------------------- navbar-------
.header {
   background-color: #FE6232;
   padding-bottom: $dimension_10*0.5;

   ul {
      display: flex;
      gap: $dimension_15;
      max-width: 56%;
      margin: auto;

      li {

         a {
            transition: 0.5s; // hover 0.5s
            font-size: $dimension_10*1.1;
            font-weight: 400;
            color: white;
         }

      }
   }
}

// fixed top
.topBar.active {
   position: fixed;
   top: 0;
   z-index: 1000;
   width: 100%;
   box-shadow: -1px 1px 1px -1px rgba(255, 245, 245, 0);
   transition: 0.5s;
}

@media (max-width: 672px) {

   .header {
      display: none;
   }

}