@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F5F5F5;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex_1 {
  display: flex;
}

.flex_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

input,
button {
  border: none;
  outline: none;
  background-color: white;
  margin: 0px;
}

.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}